--------------- 1 Define Project Objectives ---------------
goals: 
1. Project should be able to create and display a randomized maze
2. Should be able to have some way to traverse the maze
3. There should exist some machine learning model that can learn from traversing the maze
4. The machine learning model should be able to determine the shortest path across the maze
deliverables: 
1. Machine learning model in Python
2. Simulation method in C++
3. Visualize this path

--------------- 2 Identify Core Components ---------------
1. Maze generation
2. Machine learning model
3. Q-Learning Solver
4. Q-table export (some way to export maze to C++)
5. Simulation Components

--------------- 3 Technical Requirements ---------------
1. Should be able to complete the maze without any algorithmic aid
2. Tools: Python, C++, Networkx, matplotlib, NumPy
--------------- 4 Timeline ---------------
Month:
1. create and finalize outline of project structure
2. Generate random maze structure
3. Create machine learning model
4. simulate in C++
--------------- 5 Standards ---------------
1. Every new addition and enhancement will have a corresponding GitHub issue
2. Every Issue will have a corresponding pull Requirements
3. Documentation for each addition / enhancement must be created